Repository 25web/climatechange, pull requests merged in 2022-12, with the labels that each got.

#48 reverse x axis
  frontend/src/components/charts/V6.js
Labels: frontend

#32 26 footer
  frontend/src/App.js
  frontend/src/components/Footer.js
  frontend/src/components/Login.js
  frontend/src/components/Register.js
  frontend/src/components/charts/V1.js
  frontend/src/components/charts/V3.js
  frontend/src/components/charts/V4.js
  frontend/src/components/charts/V5.js
  frontend/src/components/charts/V6.js
  frontend/src/components/charts/V7.js
  frontend/src/components/charts/V8.js
  frontend/src/css/FNH.scss
  frontend/src/css/LR.scss
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/index.scss
Labels: frontend

#64 62 n1
  frontend/src/App.js
  frontend/src/components/N1.js
  frontend/src/components/charts/V1.js
  frontend/src/components/charts/V3.js
  frontend/src/components/charts/V4.js
  frontend/src/components/charts/V5.js
  frontend/src/components/charts/V6.js
  frontend/src/components/charts/V7.js
  frontend/src/components/charts/V8.js
  frontend/src/css/LR.scss
  frontend/src/css/chart.scss
Labels: frontend

#72 71 description
  frontend/src/components/charts/V1.js
  frontend/src/components/charts/V3.js
  frontend/src/components/charts/V4.js
  frontend/src/components/charts/V6.js
  frontend/src/components/charts/V7.js
  frontend/src/components/charts/V8.js
Labels: frontend

#68 28 customviews
  backend/app.js
  backend/controllers/userController.js
  backend/controllers/viewController.js
  backend/models/viewModel.js
  backend/package-lock.json
  backend/package.json
  backend/routes/userRoutes.js
  backend/routes/viewRoutes.js
  docs/webdb.sql
Labels: backend

#65 add v9
  backend/controllers/chartController.js
  backend/models/chartModel.js
  backend/routes/chartRoutes.js
  frontend/src/App.js
  frontend/src/components/N2.js
  frontend/src/components/charts/V8.js
  frontend/src/components/charts/V9.js
Labels: frontend, backend

#33 database
  docs/webdb.sql
Labels: database

#47 38 navbar
  backend/controllers/userController.js
  backend/models/userModel.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/axios.js
  frontend/src/components/Auth.js
  frontend/src/components/CustomView.js
  frontend/src/components/Login.js
  frontend/src/components/Logout.js
  frontend/src/components/N1.js
  frontend/src/components/Navbar.js
  frontend/src/components/NotFound.js
  frontend/src/components/Profile.js
  frontend/src/components/Register.js
  frontend/src/components/charts/GetChart.js
  frontend/src/components/charts/V1.js
  frontend/src/components/charts/V4.js
  frontend/src/components/charts/V6.js
  frontend/src/components/charts/V7.js
  frontend/src/components/tests/login.test.js
  frontend/src/components/tests/register.test.js
  frontend/src/css/FNH.scss
  frontend/src/css/LR.scss
  frontend/src/css/chart.scss
  frontend/src/index.js
  frontend/src/index.scss
Labels: frontend

#86 Userviews
  backend/controllers/userController.js
  backend/models/userModel.js
  backend/routes/userRoutes.js
  docs/webdb.sql
  frontend/src/App.js
  frontend/src/components/Navbar.js
  frontend/src/components/Profile.js
  frontend/src/components/Register.js
Labels: frontend, backend, database
